*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-yellow: #f1c40f;
  --color-red: #db2b39;
  --color-blue-dark: #29335c;
  --color-blue: #2130b3;

  --size-btn-collapse: 10.5rem;

  --time-animation: 0.3s;

    --box-shadow: 3px 7px 7px rgba(0 0 0 / 22%);
}
body {
  font-family: sans-serif;
}

.nav-main a {
        text-decoration: none;
        color: inherit;
 }

.nav-main {
        background-color:var(--color-yellow);
        padding: 0.6rem 1.2rem;
        display: flex;
        align-items: center;
 }
 .nav-main__btn-collapse-icon {
     --size: 45px;
     width: var(--size);
     height:  var(--size);
     border-radius:50%;
     background-color:var(--color-blue-dark);
     padding:0.6rem 0.3;
     z-index: 10;
     cursor:pointer;
     box-shadow: var(--box-shadow);

 }