



table {
    background-color: rgb(201, 199, 199);
    width: 100%;
    text-align: left;
    
   
}

th, td{

    border: solid 1px black;
    padding:  15;



    


}

thead{
    background-color:rgb(41, 99, 185) ;
    color: white;
    border-bottom:solid 5px rgb(255, 252, 252)  ;
}

tr:nth-child(even){
    background-color: aliceblue;
}